@*@model RegistrationModel
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Registration</h1>

<div>
    <form asp-action="Payment">
        <div class="row">
            <div class="offset-1 col-2">
                <strong>Name</strong>
            </div>
            <div class="col-4">
                <input type="text" asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-2">
                <strong>Mobile</strong>
            </div>
            <div class="col-4">
                <input type="text" asp-for="Mobile" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-2">
                <strong>Email</strong>
            </div>
            <div class="col-4">
                <input type="text" asp-for="EmailAddress" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-2">
                <strong>Amount</strong>
            </div>
            <div class="col-4">
                ₹ @Model.Amount.ToString("0.00")
                <input type="hidden" asp-for="Amount" value="@Model.Amount" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-outline-primary">Register</button>
            </div>
        </div>
    </form>
</div>

<form method="post">
    <input type="hidden" asp-for="Name" class="form-control" />
    <input type="hidden" asp-for="Mobile" class="form-control" />
    <input type="hidden" asp-for="EmailAddress" class="form-control" />
    <input type="hidden" asp-for="Amount" value="@Model.Amount" />
    <input type="submit"  hidden />
</form>


*@

@*
@model RegistrationModel;

@{
    ViewData["Title"] = "Registration";
}
<style type="text/css">
    .d-none {
        display: none;
    }
</style>
<section>
    <div class="container p-1">
        <form asp-action="Payment">
            <div class="form-row">

                <div class="form-group col-md-12">
                    <label asp-for="Name">Full Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Full name">


                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Usn">USN</label>
                    <input asp-for="Usn" type="text" class="form-control" placeholder="USN">
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Mobile">Mobile</label>
                    <input asp-for="Mobile" type="number" class="form-control" placeholder="Mobile">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EmailAddress">Email</label>
                    <input asp-for="EmailAddress" type="email" class="form-control" placeholder="Email">
                </div>

            </div>
            <div class="form-group">
                <label asp-for="CollageName">College Name</label>
                <input asp-for="CollageName" type="text" class="form-control" id="inputAddress" placeholder="College Name">
            </div>



            <div class="form-group ">
                <label asp-for="EventType">Event Types</label>
                <select asp-for="EventType" class="form-control" id="exampleFormControlSelect" onchange="EnableEvent(this)">
                    <option value="" selected> Select One</option>
                    <option value="Cultural"> Cultural Event</option>
                    <option value="Technical">Technical Event</option>
                    <option value="Special">Special Event</option>

                </select>


                <div id="cultural" class=" d-none">
                    <label asp-for="EventName">Select Event</label>
                    <select asp-for="EventName" class="form-control" id="exampleFormControlSelect1" onchange="EnablePrice(this)">
                        <option selected> Robo Giant</option>
                        <option>Presentation</option>
                        <option>Electric</option>

                    </select>
                </div>

                <div id="technical" class=" d-none">
                    <label asp-for="EventName">Select Event</label>
                    <select asp-for="EventName" class="form-control" id="exampleFormControlSelect2">
                        <option selected> abc</option>
                        <option>efg</option>
                        <option>Sghj</option>

                    </select>
                </div>

                <div id="Special" class=" d-none ">
                    <label asp-for="EventName">Select Event</label>
                    <select asp-for="EventName" class="form-control" id="exampleFormControlSelect3">
                        <option selected> Crtyuuii</option>
                        <option>errtthdgz</option>
                        <option>fjglkdjfoisfm</option>

                    </select>
                </div>


                <div id="price" class="col-md-6 d-none">
                    <label>Price</label>
                    <input type="hidden" asp-for="EventPrice" value="@Model.EventPrice" disabled />
                </div>

            </div>


            <button onclick="EnableEvent(this)" class="btn btn-primary">Add More</button>


            //another list


            <div id="form-group2 " class="d-none">
                <label asp-for="EventType">Event Types</label>
                <select asp-for="EventType" class="form-control" id="exampleFormControlSelect" onchange="EnableEvent(this)">
                    <option value="" selected> Select One</option>
                    <option value="Cultural"> Cultural Event</option>
                    <option value="Technical">Technical Event</option>
                    <option value="Special">Special Event</option>

                </select>


                <div id="cultural" class=" d-none">
                    <label asp-for="EventName">Select Event</label>
                    <select asp-for="EventName" class="form-control" id="exampleFormControlSelect1" onchange="EnablePrice(this)">
                        <option selected> Robo Giant</option>
                        <option>Presentation</option>
                        <option>Electric</option>

                    </select>
                </div>

                <div id="technical" class=" d-none">
                    <label asp-for="EventName">Select Event</label>
                    <select asp-for="EventName" class="form-control" id="exampleFormControlSelect2">
                        <option selected> abc</option>
                        <option>efg</option>
                        <option>Sghj</option>

                    </select>
                </div>

                <div id="Special" class=" d-none ">
                    <label asp-for="EventName">Select Event</label>
                    <select asp-for="EventName" class="form-control" id="exampleFormControlSelect3">
                        <option selected> Crtyuuii</option>
                        <option>errtthdgz</option>
                        <option>fjglkdjfoisfm</option>

                    </select>
                </div>


                <div id="price" class="col-md-6 d-none">
                    <label>Price</label>
                    <input type="hidden" asp-for="EventPrice" value="@Model.EventPrice" disabled />
                </div>

            </div>





















*@

            @*          <div class="form-group ">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
            Check me out
            </label>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

</section>


<script type="text/javascript">
    function EnableEvent(answer) {
        console.log(answer.value);
        if (answer.value == "Cultural") {
            document.getElementById('cultural').classList.remove('d-none');
        } else {
            document.getElementById('cultural').classList.add('d-none');

        }
        if (answer.value == "Technical") {
            document.getElementById('technical').classList.remove('d-none');

        } else {
            document.getElementById('technical').classList.add('d-none');

        }
        if (answer.value == "Special") {
            document.getElementById('Special').classList.remove('d-none');

        } else {
            document.getElementById('Special').classList.add('d-none');

        }

    };


    function EnablePrice(answer) {
        document.getElementById('price').classList.remove('d-none');
        document.getElementById('AddButton').classList.remove('d-none');

    }
</script>            *@